footer
    div.footer-wrap
        //- Footer Icon links
        div.icon-wrap                    
            a(href=footer.githubLink)
                i.fab.fa-github-square.fa-2x
            a(href=footer.youtubeLink)
                i.fab.fa-youtube-square.fa-2x
            a(href="mailto:"+footer.emailAddress)
                i.fas.fa-envelope-square.fa-2x
            a(href=footer.fbLink)
                i.fab.fa-facebook-square.fa-2x
        //- Footer copyright
        div.copyright © 2018 Copyright:
            a(href=footer.mainLink)= footer.name